[Unit]
Description=Sync git pull every 5 seconds
Requires=sync.service

[Timer]
OnBootSec=15s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=sync.service

[Install]
WantedBy=timers.target
